# Exercises

To get started with the exercises, go ahead and take a look at RideShareDB. This database was created with data from a dataset on [Kaggle](https://www.kaggle.com/fivethirtyeight/uber-pickups-in-new-york-city). The dataset was made using data obtained from the NYC Taxi and Limosine Commission or TLC. TLC tracks this data by base and even rideshare companies such as Uber and Lyft have assigned bases that each pickup must be attributed to. For the exercises, we will be using the `other-FHV-services-jan-july15` and `lyft` tables in RideShareDB.Â These tables include the data for each pickup attributed to a few other For-Hire Vehicles (FHV) services and Lyft. These tables do not include any data from Uber.

## String Functions

Write a query that returns the last 3 characters of the base name in `other-FHV-services-jan-july15`. Do you see anything that is a common abbreviation at the end of business names?

**<mark>Many are "Inc."</mark>**

In [11]:
SELECT TOP 5
RIGHT(Base_Name, 3) FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015

(No column name)
INC
INC
ORP
INC
NC.

The number of trips and the number of pickups are both stored as strings in `other-FHV-services-jan-july15`. This is because the data provided included spaces in some of the numbers. Write a query that returns the location of spaces in both of these columns.

In [26]:
SELECT TOP 5 CHARINDEX(' ', Number_of_Trips) AS 'Number of Trips', CHARINDEX(' ', Number_of_Vehicles) AS 'Number of Vehicles' FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015

Number of Trips,Number of Vehicles
3,3
3,3
4,3
3,2
4,3

## Date Functions

For ``other-FHV-services-jan-july15``, display the name of month of the pickup date and order in descending order. Is the result of this query what you expected?

In [15]:
SELECT TOP 5 DATENAME(MONTH, Pick_Up_Date) FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015
ORDER BY Pick_Up_Date DESC

(No column name)
August
August
August
August
August

Using `other-FHV-services-jan-july15`, write a query that returns the day number of the pickup date and month name and orders it in ascending order by day number.

In [27]:
SELECT TOP 5 DATEPART(day, Pick_Up_Date), DATENAME(month, Pick_Up_Date) FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015
ORDER BY DATEPART(day, Pick_Up_Date) ASC

(No column name),(No column name)
1,January
1,January
1,January
1,January
1,January

## Aggregate Functions

Write a query that returns the most easterly Lyft pickup.

In [30]:
SELECT TOP 1 start_lng FROM RideShareDB.dbo.lyft
WHERE start_lng IS NOT NULL
ORDER BY start_lng DESC

start_lng
-73.72315

Write a query the returns the most northerly Lyft pickup.

In [31]:
SELECT TOP 1 start_lat FROM RideShareDB.dbo.lyft
WHERE start_lat IS NOT NULL
ORDER BY start_lat DESC

start_lat
40.93562

Using ``other-FHV-services-jan-july15``, write a query that connects the the base number and the base name in a string that uses the following format: base\_number: base\_name.